.about-us{
  box-sizing: border-box;

  & *::selection {
    background: $text-dark;
    color: $text-light;
  }
}

.about-us__subtitle {
  margin-bottom: 20px;
}

.about-us__bike {
  width: 90px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
  background: url("../img/bike_icon.png") no-repeat center center;
}

.about-us__desc {
  text-align: left;
  font-size: 0.875rem;
}
