.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5% 10%;
  height: 100vh;
  box-sizing: border-box;
  background: url("../img/bg_header.jpg") no-repeat center center;
  background-size: cover;
  background-color: #000000;
  color: $text-light;
}

.header__nav {
  position: absolute;
  left: -100%;
  top: 0;
  flex-direction: column;
  justify-content: flex-start;
  width: 330px;
  height: 100vh;
  padding: 5% 0;
  color: $text-dark;
  background-color: #ffffff;
  transition: .5s ease-in-out;

  &--opened {
    left: 0;
  }

  & .nav__list{
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    width: 100%;

    & .nav__item{
      margin: 5px 0;
    }
  }
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__middle {
  align-self: flex-end;
}

.header__bottom {
  position: relative;
}

.header__title {
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
}

.header__blackquote {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  text-align: right;

  & cite {
    font-size: 1rem;
  }
}

.header__mouse {
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 50px;
  height: 70px;
  background: url("../img/mouse_icon.png") no-repeat center center;
  border: none;
  animation: mouse 1s infinite;
}
