.nav{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background: #ffffff;
  box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.3);

  &--sticky{
    z-index: 10;
    position: fixed; // IE11 Support
    position: sticky;
    padding: 15px 10%;
    box-sizing: border-box;
    width: 100%;
    top: 0;
  }
}


.nav__list {
  width: 60%;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav__item{
  text-transform: uppercase;
}

.nav__link{
  text-decoration: none;
  color: $text-dark;
  cursor: pointer;

  &:hover {
    text-decoration: overline;
  }
}
