.statistics {
  padding-bottom: 45px;
  color: $text-light;
  background: url("../img/bg_statistics.jpg") no-repeat center center;
  background-size: cover;

  & *::selection {
    background: $text-light;
    color: $text-dark;
  }
}

.statistics__subtitle {
  margin-bottom: 50px;
}

.statistics__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
}

.statistics__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.statistics__fact-count {
  font-size: 4rem;

}

.statistics__fact {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}
