
<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    title Wheels
  body
    include mixins.pug
    header.header
      nav.nav.header__nav
        +nav
      .header__top
        span.logo wheels
        .menu
          span.menu__title menu
          .menu__burger
      .header__middle
        h1.header__title Welcome to wheels
        blockquote.header__blackquote
          p Your free psd template,<br>perfect for your next big idea
          cite by Pawel Betkowski
      .header__bottom
        .header__mouse
    nav.nav#nav
      +nav
    section.about-us#about-us
      .container
        h2.about-us__title About us
        span.about-us__subtitle let’s talk about what makes your company great.
        .about-us__bike
        p.about-us__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          |Vestibulum sit amet odio molestie, rutrum lacus et, suscipit sem.
          |Fusce eu tristique neque. Nullam in euismod magna.
          |Vestibulum fermentum a dui non vulputate. Morbi hendrerit rhoncus velit at pellentesque.
          |Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse quis sapien neque.
          |Nunc pulvinar vel velit eget porttitor. Sed at sapien luctus nulla lobortis ullamcorper.
          |Proin sit amet nulla quis libero dictum tempor eget in dui. Proin posuere eleifend vehicula.
    section.statistics
      .container
        h2.statistics__title Some statistics
        span.statistics__subtitle Showing what your company already acomplished is always a good selling point.
        ul.statistics__list
          li.statistics__item
            span.statistics__fact-count 409
            p.statistics__fact Bikes sold
          li.statistics__item
            span.statistics__fact-count 2012
            p.statistics__fact Year the<br>company started
          li.statistics__item
            span.statistics__fact-count 0
            p.statistics__fact Unsatisfied<br>customers
    section.products#products
      .container
        h2.products__title Featured products
        span.products__subtitle Your chance to shine
        .products__list
          +productItem


