- const navItems = ["about us", "products", "our team", "instagram", "contact"]

mixin nav
  span.logo wheels
  ul.nav__list
    each el in navItems
      li.nav__item: a.nav__link= el


mixin productItem
  .product__item
    img.product__img
    span.product__bike
    span.product__price $399
    span.product__link
